.sectionBackground {
    background-image: linear-gradient(to bottom, #8B8B8B1A, #151515), 
        url("../public/homeNoAuth/backgroundPresentationSection.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}